.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #121212;
  padding: 15px 30px;
  border-radius: 0 0 16px 16px;
  flex-wrap: wrap;
  gap: 12px;
}

.nav-left {
  font-size: 18px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .nav {
    justify-content: center;
  }

  .nav-left,
  .nav-right {
    justify-content: center;
  }
}

.nav-logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 15px;
  transition: color 0.2s ease, transform 0.2 ease;
}

.nav-link {
  color: #aaa;
  text-decoration: none;
  font-weight: 500;
}

/*.nav-link:hover {
  color:rgb(83, 83, 83);
  transform: scale(1.05);
} 
*/
.nav-link.active {
  text-decoration: underline;
} 

.nav-user {
  color: white;
}

.nav-user button {
  margin-left: 10px;
  border-radius: 10px;
  background-color: #0d6efd;
}