

.movie-page {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
  color: white;
  font-family: Arial, sans-serif;
}

.movie-details {
  background: #1b1b1b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.button-row {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.add-favorite-btn,
.add-group-btn {
  padding: 10px;
  border-radius: 6px;
  background: #3498db;
  cursor: pointer;
  color: white;
}

.add-favorite-btn:hover,
.add-group-btn:hover {
  background: #2179b5;
}

.review-section {
  background: #1b1b1b;
  padding: 20px;
  border-radius: 12px;
}

.review-section h3 {
  margin-bottom: 10px;
}
